<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Professional Holiday Magic!</h2>
                <hr class="light">
                <p class="text-faded">From design to installation to takedown, we handle everything to make your home
                    shine this holiday season. Our professional team uses high-quality materials and brings attention to
                    detail to every project.</p>
                <a href="#contact-form" class="btn btn-default btn-xl">Schedule Now!</a>
            </div>
        </div>
    </div>
</section>